<body>
    <div class="container">
        <div class="mb-3">
            <center><h1>INICIAR SESION</h1></center>
        </div>
        <div class = "mb-3">
            <form action = "/Auth/Login" method = "post">
                @Html.ValidationMessage("AuthError")
                <div class = "mb-3">
                    <label for = "username" class= "form-label">Email: </label>
                    <input type = "text" class="form-control" name = "username" id="username" aria-describedby="emailHelp">
                    @Html.ValidationMessage("Email")
                </div>
                <div class="mb-3">
                    <label for = "password" class= "form-label">Contraseña: </label>
                    <input type = "password" class="form-control" name = "username" id="username">
                    @Html.ValidationMessage("Contraseña")
                </div>
                <button type = "submit" class="btn btn-primary">Acceder</button>
                <a href = "/Home/Index" class="btn btn-link">Cancelar</a>
            </form>
        </div>
    </div>
</body>